@font-face {
  font-family: 'Gilroy Regular';
  src: url('./fonts/Gilroy-Regular.woff');
  font-weight: normal;
  font-style: normal;
  }

.App {
  font-size: 14px;
  font-family: 'Gilroy Regular', Arial, sans-serif;
  color: #373737;
}
 
.activated:hover {
  background-color: rgb(234, 234, 243);
}

.colorBlue {
  color: #1f2a80;
}

.colorGrey {
  color: #373737;
}

.borderBlue {
  border: 3px solid #1f2a80;
  border-radius: 10px;
}

.blueLine {
  border-bottom: 3px solid #1f2a80;
  margin: auto;
}

.bg-blue {
  background-color: #1f2a80;
}

.openDescription:hover{
  cursor: pointer;
}