.App {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px 55px;
  /* border: 1px solid rgb(22, 121, 66); */
}
 
.activated:hover {
  background-color: rgb(234, 234, 243);
}

.colorBlue {
  color: #1f2a80;
}