@font-face {
  font-family: 'Gilroy Regular';
  src: url('./fonts/Gilroy-Regular.woff');
  font-weight: normal;
  font-style: normal;
  }

.App {
  font-size: 14px;
  font-family: 'Gilroy Regular', Arial, sans-serif;
  padding: 5px 70px;
  color: #373737;
}
 
.activated:hover {
  background-color: rgb(234, 234, 243);
}

.colorBlue {
  color: #1f2a80;
}

.colorGrey {
  color: #373737;
}